body {
  background: url(/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: sans-serif;
  text-align: center;
  color: white;
}

input {
  color: black;
}

.bandList, .venueList {
  font-size: 26pt;
  color: green;
}
