body {
  background: url(/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: 'Luckiest Guy', sans-serif;
  text-align: center;
  color: white;
}

input {
  color: black;
  font-family: sans-serif;
  font-size: 20pt;
}

.bandList, .venueList {
  font-size: 26pt;
  color: #EDF2F7;
}

.bandList:hover {
  color: #FDF270;
}

.venueList:hover {
  color: #FDF270;
}

.btn {
  font-size: 18pt;
  padding-top: 10px;
  color: black;
}

.big-glyph {
  color: #FEB501;
  font-size: 22pt;
}
